<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<!-- 🔹 Conexión usada para el LOGIN general -->
		<add name="conexionLogin"
			 connectionString="Data Source=SRV-BD\MCAMBARA;
                           Initial Catalog=DB_DevSolutions;
                           User ID=Usr_productos;
                           Password=SuperPassword123!;
                           TrustServerCertificate=True;
                           Encrypt=False;
                           Connection Timeout=30;"
			 providerName="System.Data.SqlClient" />

		<!-- 🔹 Conexión con permisos de administrador -->
		<add name="conexionAdmin"
			 connectionString="Data Source=SRV-BD\MCAMBARA;
                           Initial Catalog=DB_DevSolutions;
                           User ID=Usr_productos;
                           Password=SuperPassword123!;
                           TrustServerCertificate=True;
                           Encrypt=False;
                           Connection Timeout=30;"
			 providerName="System.Data.SqlClient" />

		<!-- 🔹 Conexión con permisos limitados (usuario común) -->
		<add name="conexionUsuario"
			 connectionString="Data Source=SRV-BD\MCAMBARA;
                           Initial Catalog=DB_DevSolutions;
                           User ID=Usr_inventario;
                           Password=Password123!;
                           TrustServerCertificate=True;
                           Encrypt=False;
                           Connection Timeout=30;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>